h1 {
    margin: 0;
}

.play-area {
    display: flex;
    min-height: 80vh;
    width: 70vh;
    position: absolute;
    flex-flow: column;
}

.footer {
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 600px) {
    .play-area {
        width: 80%;
    }
}